In [1]:
import numpy as np
import pandas as pd
from tqdm.autonotebook import tqdm

tqdm.pandas()

/Users/far/.pyenv/versions/miniconda3-4.3.30/envs/spec-top-econ-data-vis/lib/python3.7/site-packages/ipykernel_launcher.py:3: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/far/.pyenv/versions/miniconda3-4.3.30/envs/spec-top-econ-data-vis/lib/python3.7/site-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
HRF = pd.read_csv('Hotel_Reviews.csv')
HRF.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [3]:
[' '.join(address.split()[-5:])
 for address in list(HRF['Hotel_Address'].unique()) if 'United Kingdom' in address]

['London SW5 9NB United Kingdom',
 'London EC4Y 1LL United Kingdom',
 'London W2 3BA United Kingdom',
 'London WC1B 5BE United Kingdom',
 'London SE1 7RY United Kingdom',
 'London WC2B 4BZ United Kingdom',
 'London W1J 7QY United Kingdom',
 'London W2 3JP United Kingdom',
 'London W8 5DL United Kingdom',
 'London WC1X 9HX United Kingdom',
 'London W6 8DR United Kingdom',
 'London SW1Y 4HX United Kingdom',
 'London SE10 0TW United Kingdom',
 'London SW3 1PT United Kingdom',
 'London W1T 3NP United Kingdom',
 'London SW5 0LA United Kingdom',
 'London W1D 3BR United Kingdom',
 'London EC4V 5AJ United Kingdom',
 'London SW7 3ER United Kingdom',
 'London WC2H 9HB United Kingdom',
 'London SW1E 5BW United Kingdom',
 'London EC3N 2NR United Kingdom',
 'London W1D 6QF United Kingdom',
 'London SW14 7RT United Kingdom',
 'London NW1 2AJ United Kingdom',
 'London SW7 4ER United Kingdom',
 'London SW7 5AG United Kingdom',
 'London E1 6JQ United Kingdom',
 'London SE11 5AL United Kingdom',
 'London SW1W 0SJ United Kingdom',
 'London SW1X 7RN United Kingdom',
 'London W2 3HL United Kingdom',
 'London W1U 6LJ United Kingdom',
 'London SW7 5LR United Kingdom',
 'London E20 1GL United Kingdom',
 'London E20 1GL United Kingdom',
 'London W12 7JS United Kingdom',
 'London WC1B 3HD United Kingdom',
 'London SW3 2RJ United Kingdom',
 'London SW1X 7LY United Kingdom',
 'London SW7 2RS United Kingdom',
 'London SW7 4DP United Kingdom',
 'London SE1 7JD United Kingdom',
 'London SE1 7LS United Kingdom',
 'London W1J 7BJ United Kingdom',
 'London SW7 4DS United Kingdom',
 'London E14 0AE United Kingdom',
 'London E1 6BX United Kingdom',
 'London W2 3LG United Kingdom',
 'London E1 6TE United Kingdom',
 'London WC1H 0HX United Kingdom',
 'London EC1R 5DJ United Kingdom',
 'London NW3 3ST United Kingdom',
 'London W2 4RJ United Kingdom',
 'London WC1E 6HE United Kingdom',
 'London WC1B 5AF United Kingdom',
 'London EC3N 1NU United Kingdom',
 'London W1T 5AY United Kingdom',
 'London W1H 5DN United Kingdom',
 'London W1B 2QS United Kingdom',
 'London W2 3DU United Kingdom',
 'London WC2E 8QH United Kingdom',
 'London SW7 4QH United Kingdom',
 'London W1K 7AA United Kingdom',
 'London EC3N 1LS United Kingdom',
 'London SW1V 4JE United Kingdom',
 'London W2 1HU United Kingdom',
 'London W2 1EE United Kingdom',
 'London SW5 0TH United Kingdom',
 'London W8 5PQ United Kingdom',
 'London W1T 1RJ United Kingdom',
 'London SW1W 0JW United Kingdom',
 'London SW7 2LA United Kingdom',
 'London WC1B 5BJ United Kingdom',
 'London W1H 7JW United Kingdom',
 'London W2 4RT United Kingdom',
 'London W1J 9BR United Kingdom',
 'London EC1V 1JS United Kingdom',
 'London NW2 3ED United Kingdom',
 'London W14 0QL United Kingdom',
 'London WC1B 3NN United Kingdom',
 'London W2 1HL United Kingdom',
 'London SW7 3EG United Kingdom',
 'London SW5 0TL United Kingdom',
 'London E14 9SJ United Kingdom',
 'London WC1H 0HT United Kingdom',
 'London SW3 2BX United Kingdom',
 'London SW1X 9NU United Kingdom',
 'London W1U 5LG United Kingdom',
 'London SW7 1DW United Kingdom',
 'London SE10 8JA United Kingdom',
 'London NW1 6DX United Kingdom',
 'London EC1M 6AH United Kingdom',
 'London W8 5JE United Kingdom',
 'London SE1 7TJ United Kingdom',
 'London NW8 7JT United Kingdom',
 'London SW5 0SF United Kingdom',
 'London SE1 2JR United Kingdom',
 'London W1F 7HL United Kingdom',
 'London SW5 9TT United Kingdom',
 'London W1H 6PA United Kingdom',
 'London NW4 2EU United Kingdom',
 'London EC4V 6DB United Kingdom',
 'London SW7 5EX United Kingdom',
 'London WC1V 7BD United Kingdom',
 'London W8 5JJ United Kingdom',
 'London W8 4PT United Kingdom',
 'London E2 7DD United Kingdom',
 'London WC1B 5BU United Kingdom',
 'London SE1 0UG United Kingdom',
 'London W5 3HN United Kingdom',
 'London SW1V 1QA United Kingdom',
 'London SW1H 0QW United Kingdom',
 'London W1H 2ER United Kingdom',
 'London SW1A 2TS United Kingdom',
 'London W1J 7BS United Kingdom',
 'London E8 1EN United Kingdom',
 'London W13 8PH United Kingdom',
 'London W1H 7TN United Kingdom',
 'London W9 1ER United Kingdom',
 'London SW1A 2EJ United Kingdom',
 'London W1W 5NB United Kingdom',
 'London SW1X 8HQ United Kingdom',
 'London SE1 0NZ United Kingdom',
 'London WC2H 9HD United Kingdom',
 'London SW5 9PD United Kingdom',
 'London W2 4DU United Kingdom',
 'London SE1 9PD United Kingdom',
 'London W1B 5NF United Kingdom',
 'London SW5 0SW United Kingdom',
 'London W14 8RP United Kingdom',
 'London WC1E 6HG United Kingdom',
 'London W1J 0BH United Kingdom',
 'London W3 9NX United Kingdom',
 'London EC2A 1DX United Kingdom',
 'London SW1H 0BH United Kingdom',
 'London E14 4ED United Kingdom',
 'London W1K 1BE United Kingdom',
 'London W1H 7BG United Kingdom',
 'London W11 2NG United Kingdom',
 'London NW1 6JQ United Kingdom',
 'London W2 1JU United Kingdom',
 'London W8 6SA United Kingdom',
 'London W10 6HQ United Kingdom',
 'London W2 3AN United Kingdom',
 'London WC1N 2AD United Kingdom',
 'London E1 4LJ United Kingdom',
 'London SW1V 1EQ United Kingdom',
 'London WC1B 5JH United Kingdom',
 'London SW3 2DB United Kingdom',
 'London EC4M 7DR United Kingdom',
 'London SW5 0PG United Kingdom',
 'London WC1V 7EN United Kingdom',
 'London SW5 9NJ United Kingdom',
 'London W2 3BE United Kingdom',
 'London W5 5AA United Kingdom',
 'London SW3 2RP United Kingdom',
 'London SE16 5HW United Kingdom',
 'London SW7 4JX United Kingdom',
 'London W2 3DP United Kingdom',
 'London W1H 7JB United Kingdom',
 'London SW3 1AS United Kingdom',
 'London SW1W 0LU United Kingdom',
 'London SE1 8RQ United Kingdom',
 'London SW3 2SH United Kingdom',
 'London WC1E 6HG United Kingdom',
 'London SE10 8NA United Kingdom',
 'London W1J 8NE United Kingdom',
 'London W2 3DN United Kingdom',
 'London W2 6BD United Kingdom',
 'London EC2M 2AF United Kingdom',
 'London W2 3UL United Kingdom',
 'London SW5 0EN United Kingdom',
 'London NW1 7BY United Kingdom',
 'London SW1P 4DD United Kingdom',
 'London W2 3AN United Kingdom',
 'London W1H 7BH United Kingdom',
 'London W1T 1LB United Kingdom',
 'London WC1H 8EP United Kingdom',
 'London SW7 5JA United Kingdom',
 'London W1W 6BU United Kingdom',
 'London WC2H 7LH United Kingdom',
 'London W1H 7TA United Kingdom',
 'London SE1 9QU United Kingdom',
 'London SW5 0QQ United Kingdom',
 'London W1S 4BP United Kingdom',
 'London SW3 1PP United Kingdom',
 'London SW7 3PF United Kingdom',
 'London E15 2TF United Kingdom',
 'London EC1V 9LL United Kingdom',
 'London WC2R 1HA United Kingdom',
 'London WC1B 5JR United Kingdom',
 'London SW5 0EW United Kingdom',
 'London SW11 3RF United Kingdom',
 'London W2 1QW United Kingdom',
 'London W2 1EA United Kingdom',
 'London SW1V 4DG United Kingdom',
 'London W1J 5EB United Kingdom',
 'London SW3 3QX United Kingdom',
 'London SW1A 1NY United Kingdom',
 'London W1C 1BY United Kingdom',
 'London SW8 4AE United Kingdom',
 'London W2 3NA United Kingdom',
 'London EC3A 6AP United Kingdom',
 'London N4 1DA United Kingdom',
 'London SW1V 1PB United Kingdom',
 'London W1U 5LT United Kingdom',
 'London WC2R 0JJ United Kingdom',
 'London W14 8NL United Kingdom',
 'London WC1B 5JT United Kingdom',
 'London W2 6DA United Kingdom',
 'London NW1 6QN United Kingdom',
 'London SW1W 0PS United Kingdom',
 'London W1D 6BZ United Kingdom',
 'London SW7 4LH United Kingdom',
 'London WC2B 5QZ United Kingdom',
 'London W1H 7BY United Kingdom',
 'London W3 6RT United Kingdom',
 'London W1D 3DH United Kingdom',
 'London EC2M 7QN United Kingdom',
 'London E14 9TP United Kingdom',
 'London EC3N 4DJ United Kingdom',
 'London W6 0SA United Kingdom',
 'London W1K 4HJ United Kingdom',
 'London W2 3JN United Kingdom',
 'London SW1E 6AF United Kingdom',
 'London SW1W 0PS United Kingdom',
 'London W1H 7LG United Kingdom',
 'London SW7 5NB United Kingdom',
 'London E2 8PP United Kingdom',
 'London EC1Y 4SB United Kingdom',
 'London HA9 8AU United Kingdom',
 'London SW19 4JZ United Kingdom',
 'London W1K 2HP United Kingdom',
 'London EC2A 4PJ United Kingdom',
 'London W1K 1PN United Kingdom',
 'London E1 8GP United Kingdom',
 'London WC2N 4HX United Kingdom',
 'London SE1 8NZ United Kingdom',
 'London E14 8RS United Kingdom',
 'London W1G 8DN United Kingdom',
 'London EC1V 4JJ United Kingdom',
 'London E1 1HH United Kingdom',
 'London W1U 8JE United Kingdom',
 'London W2 4NP United Kingdom',
 'London E1 2BP United Kingdom',
 'London W1J 5HL United Kingdom',
 'London E14 9JB United Kingdom',
 'London SE1 2BY United Kingdom',
 'London HA9 0NP United Kingdom',
 'London EC2R 8AY United Kingdom',
 'London W1T 3NG United Kingdom',
 'London W1H 7FD United Kingdom',
 'London W2 3NA United Kingdom',
 'London W2 3DQ United Kingdom',
 'London SW15 2RN United Kingdom',
 'London W2 3LB United Kingdom',
 'London EC1Y 4SD United Kingdom',
 'London NW6 5SB United Kingdom',
 'London SE1 9HH United Kingdom',
 'London W1K 1QA United Kingdom',
 'London N1 0UY United Kingdom',
 'London SW7 5JW United Kingdom',
 'London W1H 7QR United Kingdom',
 'London W12 8LP United Kingdom',
 'London W2 3UY United Kingdom',
 'London W1D 3JG United Kingdom',
 'London W1G 9BL United Kingdom',
 'London W12 8QE United Kingdom',
 'London W2 4PS United Kingdom',
 'London W1D 3JA United Kingdom',
 'London SE1 7DP United Kingdom',
 'London EC2A 3ET United Kingdom',
 'London SW1Y 4AN United Kingdom',
 'London SW7 5BB United Kingdom',
 'London N1 9LA United Kingdom',
 'London SW7 4PE United Kingdom',
 'London WC2A 3JW United Kingdom',
 'London W4 5RY United Kingdom',
 'London W3 0TA United Kingdom',
 'London NW2 2NL United Kingdom',
 'London W1D 6EX United Kingdom',
 'London WC2B 5BX United Kingdom',
 'London SW1X 7LA United Kingdom',
 'London SW7 5BT United Kingdom',
 'London W1B 4DY United Kingdom',
 'London SW1P 2PA United Kingdom',
 'London SW7 2DL United Kingdom',
 'London SW1A 1LP United Kingdom',
 'London EC2R 7NJ United Kingdom',
 'London W8 5NP United Kingdom',
 'London EC3V 0DR United Kingdom',
 'London WC1B 5BP United Kingdom',
 'London EC3N 4AF United Kingdom',
 'London E16 1AA United Kingdom',
 'London SE1 0JA United Kingdom',
 'London SW1P 2PA United Kingdom',
 'London WC1E 6HJ United Kingdom',
 'London W2 6QA United Kingdom',
 'London W2 1UH United Kingdom',
 'London SW7 2EA United Kingdom',
 'London W1U 4DG United Kingdom',
 'London W2 1TS United Kingdom',
 'London SE1 9SG United Kingdom',
 'London W1K 6TF United Kingdom',
 'London WC2N 5BY United Kingdom',
 'London W2 4DU United Kingdom',
 'London SW1V 2BJ United Kingdom',
 'London NW1 2EZ United Kingdom',
 'London EC2A 3HU United Kingdom',
 'London SW1Y 6JF United Kingdom',
 'London E8 3AH United Kingdom',
 'London W1U 6HN United Kingdom',
 'London W6 0QW United Kingdom',
 'London EC1M 5RJ United Kingdom',
 'London W1K 7TN United Kingdom',
 'London W14 8BN United Kingdom',
 'London SW7 5AB United Kingdom',
 'London SW3 6PU United Kingdom',
 'London WC1B 3QD United Kingdom',
 'London SW5 0TP United Kingdom',
 'London W2 3NR United Kingdom',
 'London WC1B 4BH United Kingdom',
 'London SW7 4DN United Kingdom',
 'London WC1B 3LB United Kingdom',
 'London NW1 3UP United Kingdom',
 'London WC2B 4DD United Kingdom',
 'London SW3 1AT United Kingdom',
 'London WC1H 8AB United Kingdom',
 'London WC1A 2SD United Kingdom',
 'London W1S 2YF United Kingdom',
 'London SW11 3BE United Kingdom',
 'London W1H 7EH United Kingdom',
 'London SW1E 6AF United Kingdom',
 'London SW1X 9PY United Kingdom',
 'London W1W 5EE United Kingdom',
 'London NW1 2LP United Kingdom',
 'London W1K 2AL United Kingdom',
 'London SE10 8BB United Kingdom',
 'London SW10 0XG United Kingdom',
 'London EC3N 2BQ United Kingdom',
 'London WC1N 1HT United Kingdom',
 'London HA9 8DS United Kingdom',
 'London IG8 9NY United Kingdom',
 'London NW1 2AR United Kingdom',
 'London E16 1RH United Kingdom',
 'London SW6 1HS United Kingdom',
 'London W1H 5BJ United Kingdom',
 'London W1H 7DL United Kingdom',
 'London W1K 6JP United Kingdom',
 'London W1J 7BH United Kingdom',
 'London W1J 7BN United Kingdom',
 'London SW1X 7DJ United Kingdom',
 'London W1J 7DR United Kingdom',
 'London W5 3HL United Kingdom',
 'London W11 4UL United Kingdom',
 'London SW1X 7TA United Kingdom',
 'London SW6 2GA United Kingdom',
 'London N1C 4TB United Kingdom',
 'London SE10 9JW United Kingdom',
 'London HA9 0BU United Kingdom',
 'London W2 3LG United Kingdom',
 'London W2 3PF United Kingdom',
 'London W2 2TY United Kingdom',
 'London SE1 7PB United Kingdom',
 'London SW1X 9ES United Kingdom',
 'London W1U 2BE United Kingdom',
 'London IG8 8AE United Kingdom',
 'London EC3N 4AX United Kingdom',
 'London W1K 1LB United Kingdom',
 'London E16 1FR United Kingdom',
 'London W1D 7DT United Kingdom',
 'London W1K 7TN United Kingdom',
 'London EC1M 6DS United Kingdom',
 'London W1J 7BX United Kingdom',
 'London NW6 5RP United Kingdom',
 'London W1B 1JA United Kingdom',
 'London EC2R 8AJ United Kingdom',
 'London W14 0AX United Kingdom',
 'London E16 1AL United Kingdom',
 'London W8 5SY United Kingdom',
 'London SW1W 8EG United Kingdom',
 'London E14 9SH United Kingdom',
 'London WC1B 4AR United Kingdom',
 'London SW1A 1NJ United Kingdom',
 'London E1W 1LD United Kingdom',
 'London WC2R 0EU United Kingdom',
 'London W1J 8LT United Kingdom',
 'London WC2N 5HX United Kingdom',
 'London NW2 1LP United Kingdom',
 'London SE1 3UN United Kingdom',
 'London W5 1HG United Kingdom',
 'London E16 1FA United Kingdom',
 'London SE1 7UT United Kingdom',
 'London SW19 4UE United Kingdom',
 'London WC2H 7HG United Kingdom',
 'London SW1A 2BD United Kingdom',
 'London SW1X 7RL United Kingdom',
 'London W8 5SP United Kingdom']

In [4]:
HRF['Reviewer_Nationality'].unique()

array([' Russia ', ' Ireland ', ' Australia ', ' United Kingdom ',
       ' New Zealand ', ' Poland ', ' Belgium ', ' Norway ', ' France ',
       ' Italy ', ' Canada ', ' Netherlands ', ' Germany ',
       ' United States of America ', ' Hungary ', ' Israel ',
       ' Switzerland ', ' India ', ' United Arab Emirates ', ' Malaysia ',
       ' Denmark ', ' South Africa ', ' Rwanda ', ' Finland ',
       ' Portugal ', ' Luxembourg ', ' Spain ', ' Malta ', ' China ',
       ' Turkey ', ' Ukraine ', ' Gibraltar ', ' Argentina ',
       ' Abkhazia Georgia ', ' Isle of Man ', ' Sweden ', ' Croatia ',
       ' Saudi Arabia ', ' Lithuania ', ' Slovenia ', ' Panama ',
       ' Austria ', ' Brazil ', ' Taiwan ', ' Iceland ', ' Iran ',
       ' Liechtenstein ', ' Chile ', ' Hong Kong ',
       ' United States Minor Outlying Islands ', ' Morocco ', ' Oman ',
       ' Lebanon ', ' Qatar ', ' Nigeria ', ' Romania ',
       ' Czech Republic ', ' Greece ', ' Thailand ', ' Singapore ',
       ' Guernsey ', ' Latvia ', ' Namibia ', ' Japan ', ' Egypt ',
       ' Slovakia ', ' South Korea ', ' Kuwait ', ' Bahrain ', ' Jersey ',
       ' Jordan ', ' Bulgaria ', ' Cyprus ', ' Albania ', ' Estonia ',
       ' Serbia ', ' Belarus ', ' Puerto Rico ', ' Sudan ', ' Sri Lanka ',
       ' Indonesia ', ' Honduras ', ' Philippines ', ' Montenegro ',
       ' Uruguay ', ' Brunei ', ' Pakistan ', ' Kosovo ', ' Azerbaijan ',
       ' ', ' Botswana ', ' Tanzania ', ' Bangladesh ',
       ' Trinidad and Tobago ', ' Palestinian Territory ', ' Peru ',
       ' Mexico ', ' Kenya ', ' Zimbabwe ', ' Macedonia ', ' Georgia ',
       ' Bermuda ', ' Costa Rica ', ' Bahamas ', ' Maldives ',
       ' Barbados ', ' Libya ', ' Fiji ', ' Angola ', ' Kazakhstan ',
       ' Bosnia and Herzegovina ', ' Colombia ', ' Armenia ', ' Vietnam ',
       ' Iraq ', ' Monaco ', ' Uganda ', ' Togo ', ' Guatemala ',
       ' Ghana ', ' Macau ', ' Zambia ', ' Jamaica ', ' Mauritius ',
       ' Venezuela ', ' Crimea ', ' St Maarten ', ' Algeria ',
       ' Equatorial Guinea ', ' Nicaragua ', ' Comoros ',
       ' Cayman Islands ', ' Ethiopia ', ' Dominican Republic ',
       ' Ecuador ', ' Uzbekistan ', ' Turks Caicos Islands ', ' Nepal ',
       ' Mozambique ', ' Sierra Leone ', ' Ivory Coast ', ' Cura ao ',
       ' Antigua Barbuda ', ' Burundi ', ' East Timor ', ' Tunisia ',
       ' Andorra ', ' U S Virgin Islands ', ' Antarctica ',
       ' Papua New Guinea ', ' Montserrat ', ' Malawi ', ' Yemen ',
       ' Suriname ', ' Paraguay ', ' Aruba ', ' Mongolia ', ' Moldova ',
       ' St Pierre and Miquelon ', ' Cambodia ', ' Seychelles ',
       ' Guyana ', ' Senegal ', ' El Salvador ', ' Guam ', ' Myanmar ',
       ' Madagascar ', ' Benin ', ' Saint Kitts and Nevis ',
       ' Martinique ', ' Vanuatu ', ' British Virgin Islands ',
       ' Belize ', ' Democratic Republic of the Congo ', ' Gabon ',
       ' New Caledonia ', ' Bhutan ', ' Faroe Islands ', ' Kyrgyzstan ',
       ' Gambia ', ' Syria ', ' Laos ', ' Mauritania ',
       ' Central Africa Republic ', ' Reunion ', ' Saint Martin ',
       ' Cameroon ', ' Guadeloupe ', ' Liberia ', ' Haiti ', ' Mali ',
       ' Saint Lucia ', ' French Guiana ', ' Swaziland ',
       ' Falkland Islands Malvinas ', ' Tajikistan ', ' Afghanistan ',
       ' Bolivia ', ' Dominica ', ' Niger ', ' Samoa ', ' Lesotho ',
       ' French Polynesia ', ' Grenada ', ' Wallis and Futuna ',
       ' Svalbard Jan Mayen ', ' Djibouti ', ' Saint Barts ',
       ' Kiribati ', ' Cook Islands ', ' Congo ', ' Somalia ',
       ' Eritrea ', ' Saint Vincent Grenadines ', ' San Marino ',
       ' Turkmenistan ', ' Vatican City ', ' South Sudan ', ' Anguilla ',
       ' Cocos K I ', ' Bonaire St Eustatius and Saba ', ' Cape Verde ',
       ' Northern Mariana Islands ', ' Tuvalu ', ' Guinea ',
       ' American Samoa ', ' Palau '], dtype=object)

In [5]:
def get_boundingbox_country(country, output_as='boundingbox'):
    """
    get the bounding box of a country in EPSG4326 given a country name

    Parameters
    ----------
    country : str
        name of the country in english and lowercase
    output_as : 'str
        chose from 'boundingbox' or 'center'. 
         - 'boundingbox' for [latmin, latmax, lonmin, lonmax]
         - 'center' for [latcenter, loncenter]

    Returns
    -------
    output : list
        list with coordinates as str
    """
    # create url
    url = '{0}{1}{2}'.format('http://nominatim.openstreetmap.org/search?country=',
                             country,
                             '&format=json&polygon=0')
    # response of an array
    response = requests.get(url).json()
    if len(response) == 0:
        return None
    # use the first one
    response = response[0]

    # parse response to list
    if output_as == 'boundingbox':
        lst = response[output_as]
        output = [float(i) for i in lst]
    if output_as == 'center':
        lst = [response.get(key) for key in ['lat', 'lon']]
        output = [float(i) for i in lst]
    return output

# Usage
# In [42]: get_boundingbox_country(country='netherlands')
# Out[42]: [11.777, 53.7253321, -70.2695876, 7.2274985]

# In [43]: get_boundingbox_country(country='holland')
# Out[43]: [11.777, 53.7253321, -70.2695876, 7.2274985]

# In [44]: get_boundingbox_country(country='nl')
# Out[44]: [11.777, 53.7253321, -70.2695876, 7.2274985]

# In [45]: get_boundingbox_country(country='nl', output_as='center')
# Out[45]: [52.5001698, 5.7480821]

In [ ]:
reviewer_nationalities = HRF['Reviewer_Nationality'].unique()

country_lat_lon_map = dict()

for v in tqdm(reviewer_nationalities):
    country = v.lower().strip()
    lat_lon = get_boundingbox_country(country=country, output_as='center')
    if lat_lon is not None:
        lat, lon = lat_lon
        country_lat_lon_map[country] = [lat, lon]

country_lat_lon_map

In [ ]:
import pickle

# Save country lat lon map
with open('country_lat_lon.pickle', 'wb') as pickle_file:
    pickle_file.write(pickle.dumps(country_lat_lon_map))

In [6]:
import pickle

# Load country lat lon map
with open('country_lat_lon.pickle', 'rb') as pickle_file:
    country_lat_lon_map = pickle.load(pickle_file)

country_lat_lon_map

{'russia': [64.6863136, 97.7453061],
 'ireland': [52.865196, -7.9794599],
 'australia': [-24.7761086, 134.755],
 'united kingdom': [55.367000000000004, -3.96141844454237],
 'new zealand': [-41.5000831, 172.8344077],
 'poland': [52.215933, 19.134422],
 'belgium': [50.6402809, 4.6667145],
 'norway': [60.5000209, 9.0999715],
 'france': [46.603354, 1.8883335],
 'italy': [42.6384261, 12.674297],
 'canada': [61.0666922, -107.9917071],
 'netherlands': [52.5001698, 5.7480821],
 'germany': [51.0834196, 10.4234469],
 'united states of america': [39.7837304, -100.4458825],
 'hungary': [47.1817585, 19.5060937],
 'israel': [31.5313113, 34.8667654],
 'switzerland': [46.7985624, 8.2319736],
 'india': [22.3511148, 78.6677428],
 'united arab emirates': [24.0002488, 53.9994829],
 'malaysia': [4.5693754, 102.2656823],
 'denmark': [55.670249, 10.3333283],
 'south africa': [-28.8166236, 24.991639],
 'rwanda': [-1.9646631, 30.0644358],
 'finland': [63.2467777, 25.9209164],
 'portugal': [40.0332629, -7.8896263],
 'luxembourg': [49.8158683, 6.1296751],
 'spain': [39.3262345, -4.8380649],
 'malta': [35.8885993, 14.4476911],
 'china': [35.000074, 104.999927],
 'turkey': [38.9597594, 34.9249653],
 'ukraine': [49.4871968, 31.2718321],
 'gibraltar': [36.10674695, -5.335277183483561],
 'argentina': [-34.9964963, -64.9672817],
 'isle of man': [54.1936805, -4.5591148],
 'sweden': [59.6749712, 14.5208584],
 'croatia': [45.5643442, 17.0118954],
 'saudi arabia': [25.6242618, 42.3528328],
 'lithuania': [55.3500003, 23.7499997],
 'slovenia': [45.8133113, 14.4808369],
 'panama': [8.559559, -81.1308434],
 'austria': [47.2000338, 13.199959],
 'brazil': [-10.3333333, -53.2],
 'taiwan': [23.9739374, 120.9820179],
 'iceland': [64.9841821, -18.1059013],
 'iran': [32.6475314, 54.5643516],
 'liechtenstein': [47.1416307, 9.5531527],
 'chile': [-31.7613365, -71.3187697],
 'morocco': [31.1728205, -7.3362482],
 'oman': [21.0000287, 57.0036901],
 'lebanon': [33.8750629, 35.843409],
 'qatar': [25.3336984, 51.2295295],
 'nigeria': [9.6000359, 7.9999721],
 'romania': [45.9852129, 24.6859225],
 'czech republic': [49.8167003, 15.4749544],
 'greece': [38.9953683, 21.9877132],
 'thailand': [14.8971921, 100.83273],
 'singapore': [1.357107, 103.8194992],
 'guernsey': [49.579520200000005, -2.5290434448309886],
 'latvia': [56.8406494, 24.7537645],
 'namibia': [-23.2335499, 17.3231107],
 'japan': [36.5748441, 139.2394179],
 'egypt': [26.2540493, 29.2675469],
 'slovakia': [48.7411522, 19.4528646],
 'south korea': [35.7724185, 127.79654346305617],
 'kuwait': [29.2733964, 47.4979476],
 'bahrain': [26.1551249, 50.5344606],
 'jersey': [49.1630548, -2.1937857146056308],
 'jordan': [31.1667049, 36.941628],
 'bulgaria': [42.6073975, 25.4856617],
 'cyprus': [34.9823018, 33.1451285],
 'albania': [41.000028, 19.9999619],
 'estonia': [58.71971295, 24.507544106789936],
 'serbia': [44.1534121, 20.55144],
 'belarus': [53.4250605, 27.6971358],
 'sudan': [15.45374395, 29.795152519221737],
 'sri lanka': [7.5554942, 80.7137847],
 'indonesia': [-2.4833826, 117.8902853],
 'honduras': [15.2572432, -86.0755145],
 'philippines': [12.7503486, 122.7312101],
 'montenegro': [42.9868853, 19.5180992],
 'uruguay': [-32.8755548, -56.0201525],
 'brunei': [4.4137155, 114.5653908],
 'pakistan': [30.3308401, 71.247499],
 'kosovo': [42.5869578, 20.9021231],
 'azerbaijan': [40.3936294, 47.7872508],
 'botswana': [-23.1681782, 24.5928742],
 'tanzania': [-6.5247123, 35.7878438],
 'bangladesh': [24.4768783, 90.2932426],
 'trinidad and tobago': [10.8677845, -60.9821067],
 'peru': [-10.13913535, -76.27225297715268],
 'mexico': [22.5000485, -100.0000375],
 'kenya': [1.4419683, 38.4313975],
 'zimbabwe': [-18.4554963, 29.7468414],
 'macedonia': [41.6171214, 21.7168387],
 'georgia': [41.6809707, 44.0287382],
 'bermuda': [32.321343049999996, -64.76650781037753],
 'costa rica': [10.2735633, -84.0739102],
 'bahamas': [24.7736546, -78.0000547],
 'maldives': [4.7064352, 73.3287853],
 'barbados': [13.1500331, -59.5250305],
 'libya': [26.8234472, 18.1236723],
 'fiji': [-18.1239696, 179.0122737],
 'angola': [-11.8775768, 17.5691241],
 'kazakhstan': [47.2286086, 65.2093197],
 'bosnia and herzegovina': [44.3053476, 17.5961467],
 'colombia': [2.8894434, -73.783892],
 'armenia': [40.7696272, 44.6736646],
 'vietnam': [13.2904027, 108.4265113],
 'iraq': [33.0955793, 44.1749775],
 'monaco': [43.7323492, 7.4276832],
 'uganda': [1.5333554, 32.2166578],
 'togo': [8.7800265, 1.0199765],
 'guatemala': [15.6356088, -89.8988087],
 'ghana': [8.0300284, -1.0800271],
 'zambia': [-14.5186239, 27.5599164],
 'jamaica': [18.1850507, -77.3947693],
 'mauritius': [-20.2759451, 57.5703566],
 'venezuela': [6.68195195, -65.52244178491057],
 'algeria': [28.0000272, 2.9999825],
 'equatorial guinea': [1.613172, 10.5170357],
 'nicaragua': [12.6090157, -85.2936911],
 'comoros': [-12.2045176, 44.2832964],
 'cayman islands': [19.5417212, -80.5667132],
 'ethiopia': [10.2116702, 38.6521203],
 'dominican republic': [19.0974031, -70.3028026],
 'ecuador': [-1.3397668, -79.3666965],
 'uzbekistan': [41.32373, 63.9528098],
 'turks caicos islands': [21.55386675, -71.79952559588013],
 'nepal': [28.1083929, 84.0917139],
 'mozambique': [-19.302233, 34.9144977],
 'sierra leone': [8.6400349, -11.8400269],
 'ivory coast': [7.9897371, -5.5679458],
 'antigua barbuda': [17.2234721, -61.9554608],
 'burundi': [-3.3634357, 29.8870575],
 'east timor': [-8.5151979, 125.8375756],
 'tunisia': [33.8439408, 9.400138],
 'andorra': [42.5407167, 1.5732033],
 'papua new guinea': [-5.6816069, 144.2489081],
 'montserrat': [16.7417041, -62.1916844],
 'malawi': [-13.2687204, 33.9301963],
 'yemen': [16.3471243, 47.8915271],
 'suriname': [4.1413025, -56.0771187],
 'paraguay': [-23.3165935, -58.1693445],
 'mongolia': [46.8250388, 103.8499736],
 'moldova': [47.2879608, 28.5670941],
 'cambodia': [13.5066394, 104.869423],
 'seychelles': [-4.6574977, 55.4540146],
 'guyana': [4.8417097, -58.6416891],
 'senegal': [14.4750607, -14.4529612],
 'el salvador': [13.8000382, -88.9140683],
 'myanmar': [17.1750495, 95.9999652],
 'madagascar': [-18.7561349, 46.597324043086644],
 'benin': [9.5293472, 2.2584408],
 'saint kitts and nevis': [17.250512, -62.6725973],
 'vanuatu': [-16.5255069, 168.1069154],
 'british virgin islands': [18.4024395, -64.5661642],
 'belize': [16.8259793, -88.7600927],
 'democratic republic of the congo': [-4.0324901, 22.457478747924338],
 'gabon': [-0.8999695, 11.6899699],
 'bhutan': [27.549511, 90.5119273],
 'faroe islands': [62.0448724, -7.0322972],
 'kyrgyzstan': [41.21968725, 74.97738708949329],
 'gambia': [13.470062, -15.4900464],
 'syria': [34.6401861, 39.0494106],
 'laos': [20.0171109, 103.378253],
 'mauritania': [20.2540382, -9.2399263],
 'cameroon': [4.6125522, 13.1535811],
 'liberia': [5.7499721, -9.3658524],
 'haiti': [19.1399952, -72.3570972],
 'mali': [16.3700359, -2.2900239],
 'saint lucia': [13.8250489, -60.975036],
 'swaziland': [-26.5624806, 31.3991317],
 'falkland islands malvinas': [-51.9666424, -59.5500387],
 'tajikistan': [38.6281733, 70.8156541],
 'afghanistan': [33.7680065, 66.2385139],
 'bolivia': [-17.0568696, -64.9912286],
 'dominica': [19.0974031, -70.3028026],
 'niger': [17.7356214, 9.3238432],
 'samoa': [-13.7693895, -172.1200508],
 'lesotho': [-29.6039267, 28.3350193],
 'grenada': [12.1360374, -61.6904045],
 'djibouti': [11.8145966, 42.8453061],
 'kiribati': [0.4483283, -171.6645388],
 'cook islands': [-16.0492781, -160.3554851],
 'congo': [-0.7264327, 15.6419155],
 'somalia': [8.3676771, 49.083416],
 'eritrea': [15.9500319, 37.9999668],
 'saint vincent grenadines': [12.90447, -61.2765569],
 'san marino': [43.9458623, 12.458306],
 'turkmenistan': [39.3763807, 59.3924609],
 'south sudan': [7.8699431, 29.6667897],
 'anguilla': [18.1954947, -63.0750234],
 'cape verde': [16.0000552, -24.0083947],
 'tuvalu': [-7.768959, 178.1167698],
 'guinea': [10.7226226, -10.7083587],
 'american samoa': [-14.289304, -170.692511],
 'palau': [6.097367, 133.313631]}

In [ ]:
# Method 1 : apply row by row
def extract_address(row):
    address_split = row['Hotel_Address'].split()
    if address_split[-1] == 'Kingdom':
        country = ' '.join(address_split[-2:])
        row['City'] = ' '.join(address_split[-5:-4])
    else:
        country = address_split[-1]
        row['City'] = address_split[-2]
    row['Country'] = country

    reviewer_nationality = row['Reviewer_Nationality'].lower().strip()
    lat_lon = country_lat_lon_map.get(reviewer_nationality)
    if lat_lon is not None:
        lat, lon = lat_lon
    else:
        lat = 'null'
        lon = 'null'
    row['Reviewer_Lat'] = lat
    row['Reviewer_Lon'] = lon

    return row


HRF = HRF.progress_apply(extract_address, axis=1)
HRF.head()

In [7]:
# Method 2 : process columns
def map_reviewer_lat(nationality):
    nationality = nationality.lower().strip()
    lat_lon = country_lat_lon_map.get(nationality)
    if lat_lon is not None:
        lat, lon = lat_lon
        return lat
    else:
        return 'null'


def map_reviewer_lon(nationality):
    nationality = nationality.lower().strip()
    lat_lon = country_lat_lon_map.get(nationality)
    if lat_lon is not None:
        lat, lon = lat_lon
        return lat
    else:
        return 'null'


def map_hotel_country(address):
    address_split = address.split()
    if address_split[-1] == 'Kingdom':
        return ' '.join(address_split[-2:])
    else:
        return address_split[-1]


def map_hotel_city(address):
    address_split = address.split()
    if address_split[-1] == 'Kingdom':
        return ' '.join(address_split[-5:-4])
    else:
        return address_split[-2]


HRF = pd.read_csv('Hotel_Reviews.csv')

nationalities = HRF['Reviewer_Nationality'].copy().to_numpy()
lat_df = pd.DataFrame(
    list(map(map_reviewer_lat, nationalities)), columns=['Reviewer_Lat'])
lon_df = pd.DataFrame(
    list(map(map_reviewer_lon, nationalities)), columns=['Reviewer_Lon'])

hotel_address = HRF['Hotel_Address'].copy().to_numpy()
hotel_country_df = pd.DataFrame(
    list(map(map_hotel_country, hotel_address)), columns=['Country'])
hotel_city_df = pd.DataFrame(
    list(map(map_hotel_city, hotel_address)), columns=['City'])

HRF = pd.concat([HRF, lat_df, lon_df, hotel_country_df, hotel_city_df], axis=1)
HRF.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,...,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Reviewer_Lat,Reviewer_Lon,Country,City
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,...,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,64.6863,64.6863,Netherlands,Amsterdam
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,...,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,52.8652,52.8652,Netherlands,Amsterdam
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,...,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,-24.7761,-24.7761,Netherlands,Amsterdam
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,...,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,55.367,55.367,Netherlands,Amsterdam
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,...,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,-41.5001,-41.5001,Netherlands,Amsterdam

In [8]:
HRF['Country'].unique()

array(['Netherlands', 'United Kingdom', 'France', 'Spain', 'Italy',
       'Austria'], dtype=object)

In [9]:
HRF['City'].unique()

array(['Amsterdam', 'London', 'Paris', 'Barcelona', 'Milan', 'Vienna'],
      dtype=object)

In [10]:
HRF['Reviewer_Lat'].unique()

array([64.6863136, 52.865196, -24.7761086, 55.367000000000004,
       -41.5000831, 52.215933, 50.6402809, 60.5000209, 46.603354,
       42.6384261, 61.0666922, 52.5001698, 51.0834196, 39.7837304,
       47.1817585, 31.5313113, 46.7985624, 22.3511148, 24.0002488,
       4.5693754, 55.670249, -28.8166236, -1.9646631, 63.2467777,
       40.0332629, 49.8158683, 39.3262345, 35.8885993, 35.000074,
       38.9597594, 49.4871968, 36.10674695, -34.9964963, 'null',
       54.1936805, 59.6749712, 45.5643442, 25.6242618, 55.3500003,
       45.8133113, 8.559559, 47.2000338, -10.3333333, 23.9739374,
       64.9841821, 32.6475314, 47.1416307, -31.7613365, 31.1728205,
       21.0000287, 33.8750629, 25.3336984, 9.6000359, 45.9852129,
       49.8167003, 38.9953683, 14.8971921, 1.357107, 49.579520200000005,
       56.8406494, -23.2335499, 36.5748441, 26.2540493, 48.7411522,
       35.7724185, 29.2733964, 26.1551249, 49.1630548, 31.1667049,
       42.6073975, 34.9823018, 41.000028, 58.71971295, 44.1534121,
       53.4250605, 15.45374395, 7.5554942, -2.4833826, 15.2572432,
       12.7503486, 42.9868853, -32.8755548, 4.4137155, 30.3308401,
       42.5869578, 40.3936294, -23.1681782, -6.5247123, 24.4768783,
       10.8677845, -10.13913535, 22.5000485, 1.4419683, -18.4554963,
       41.6171214, 41.6809707, 32.321343049999996, 10.2735633, 24.7736546,
       4.7064352, 13.1500331, 26.8234472, -18.1239696, -11.8775768,
       47.2286086, 44.3053476, 2.8894434, 40.7696272, 13.2904027,
       33.0955793, 43.7323492, 1.5333554, 8.7800265, 15.6356088,
       8.0300284, -14.5186239, 18.1850507, -20.2759451, 6.68195195,
       28.0000272, 1.613172, 12.6090157, -12.2045176, 19.5417212,
       10.2116702, 19.0974031, -1.3397668, 41.32373, 21.55386675,
       28.1083929, -19.302233, 8.6400349, 7.9897371, 17.2234721,
       -3.3634357, -8.5151979, 33.8439408, 42.5407167, -5.6816069,
       16.7417041, -13.2687204, 16.3471243, 4.1413025, -23.3165935,
       46.8250388, 47.2879608, 13.5066394, -4.6574977, 4.8417097,
       14.4750607, 13.8000382, 17.1750495, -18.7561349, 9.5293472,
       17.250512, -16.5255069, 18.4024395, 16.8259793, -4.0324901,
       -0.8999695, 27.549511, 62.0448724, 41.21968725, 13.470062,
       34.6401861, 20.0171109, 20.2540382, 4.6125522, 5.7499721,
       19.1399952, 16.3700359, 13.8250489, -26.5624806, -51.9666424,
       38.6281733, 33.7680065, -17.0568696, 17.7356214, -13.7693895,
       -29.6039267, 12.1360374, 11.8145966, 0.4483283, -16.0492781,
       -0.7264327, 8.3676771, 15.9500319, 12.90447, 43.9458623,
       39.3763807, 7.8699431, 18.1954947, 16.0000552, -7.768959,
       10.7226226, -14.289304, 6.097367], dtype=object)

In [11]:
HRF['Reviewer_Lon'].unique()

array([64.6863136, 52.865196, -24.7761086, 55.367000000000004,
       -41.5000831, 52.215933, 50.6402809, 60.5000209, 46.603354,
       42.6384261, 61.0666922, 52.5001698, 51.0834196, 39.7837304,
       47.1817585, 31.5313113, 46.7985624, 22.3511148, 24.0002488,
       4.5693754, 55.670249, -28.8166236, -1.9646631, 63.2467777,
       40.0332629, 49.8158683, 39.3262345, 35.8885993, 35.000074,
       38.9597594, 49.4871968, 36.10674695, -34.9964963, 'null',
       54.1936805, 59.6749712, 45.5643442, 25.6242618, 55.3500003,
       45.8133113, 8.559559, 47.2000338, -10.3333333, 23.9739374,
       64.9841821, 32.6475314, 47.1416307, -31.7613365, 31.1728205,
       21.0000287, 33.8750629, 25.3336984, 9.6000359, 45.9852129,
       49.8167003, 38.9953683, 14.8971921, 1.357107, 49.579520200000005,
       56.8406494, -23.2335499, 36.5748441, 26.2540493, 48.7411522,
       35.7724185, 29.2733964, 26.1551249, 49.1630548, 31.1667049,
       42.6073975, 34.9823018, 41.000028, 58.71971295, 44.1534121,
       53.4250605, 15.45374395, 7.5554942, -2.4833826, 15.2572432,
       12.7503486, 42.9868853, -32.8755548, 4.4137155, 30.3308401,
       42.5869578, 40.3936294, -23.1681782, -6.5247123, 24.4768783,
       10.8677845, -10.13913535, 22.5000485, 1.4419683, -18.4554963,
       41.6171214, 41.6809707, 32.321343049999996, 10.2735633, 24.7736546,
       4.7064352, 13.1500331, 26.8234472, -18.1239696, -11.8775768,
       47.2286086, 44.3053476, 2.8894434, 40.7696272, 13.2904027,
       33.0955793, 43.7323492, 1.5333554, 8.7800265, 15.6356088,
       8.0300284, -14.5186239, 18.1850507, -20.2759451, 6.68195195,
       28.0000272, 1.613172, 12.6090157, -12.2045176, 19.5417212,
       10.2116702, 19.0974031, -1.3397668, 41.32373, 21.55386675,
       28.1083929, -19.302233, 8.6400349, 7.9897371, 17.2234721,
       -3.3634357, -8.5151979, 33.8439408, 42.5407167, -5.6816069,
       16.7417041, -13.2687204, 16.3471243, 4.1413025, -23.3165935,
       46.8250388, 47.2879608, 13.5066394, -4.6574977, 4.8417097,
       14.4750607, 13.8000382, 17.1750495, -18.7561349, 9.5293472,
       17.250512, -16.5255069, 18.4024395, 16.8259793, -4.0324901,
       -0.8999695, 27.549511, 62.0448724, 41.21968725, 13.470062,
       34.6401861, 20.0171109, 20.2540382, 4.6125522, 5.7499721,
       19.1399952, 16.3700359, 13.8250489, -26.5624806, -51.9666424,
       38.6281733, 33.7680065, -17.0568696, 17.7356214, -13.7693895,
       -29.6039267, 12.1360374, 11.8145966, 0.4483283, -16.0492781,
       -0.7264327, 8.3676771, 15.9500319, 12.90447, 43.9458623,
       39.3763807, 7.8699431, 18.1954947, 16.0000552, -7.768959,
       10.7226226, -14.289304, 6.097367], dtype=object)

In [12]:
HRF.to_csv('Hotel_Reviews_With_City.csv')

!head Hotel_Reviews_With_City.csv

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Reviewer_Lat,Reviewer_Lon,Country,City
0, s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,194,8/3/2017,7.7,Hotel Arena, Russia , I am so angry that i made this post available via all possible sites i use when planing my trips so no one will make the mistake of booking this place I made my booking via booking com We stayed for 6 nights in this hotel from 11 to 17 July Upon arrival we were placed in a small room on the 2nd floor of the hotel It turned out that this was not the room we booked I had specially reserved the 2 level duplex room so that we would have a big windows and high ceilings The room itself was ok if you don t mind the broken window that can not be closed hello rain and a mini fridge that contained some sort of a bio weapon at least i guessed so by the smell of it I intimately asked to change the room and after explaining 2 times that i booked a duplex btw it costs the same as a simple double but got way more volume due to the high ceiling was offered a room but only the next day SO i had to check out the next day before 11 o clock in order to get the room i waned to Not the best way to begin your holiday So we had to wait till 13 00 in order to check in my new room what a wonderful waist of my time The room 023 i got was just as i wanted to peaceful internal garden view big window We were tired from waiting the room so we placed our belongings and rushed to the city In the evening it turned out that there was a constant noise in the room i guess it was made by vibrating vent tubes or something it was constant and annoying as hell AND it did not stop even at 2 am making it hard to fall asleep for me and my wife I have an audio recording that i can not attach here but if you want i can send it via e mail The next day the technician came but was not able to determine the cause of the disturbing sound so i was offered to change the room once again the hotel was fully booked and they had only 1 room left the one that was smaller but seems newer ,397,1403, Only the park outside of the hotel was beautiful ,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 6 nights ']",0 days,52.36057589999999,4.915968299999999,64.6863136,64.6863136,Netherlands,Amsterdam
1, s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,194,8/3/2017,7.7,Hotel Arena, Ireland ,No Negative,0,1403, No real complaints the hotel was great great location surroundings rooms amenities and service Two recommendations however firstly the staff upon check in are very confusing regarding deposit payments and the staff offer you upon checkout to refund your original payment and you can make a new one Bit confusing Secondly the on site restaurant is a bit lacking very well thought out and excellent quality food for anyone of a vegetarian or vegan background but even a wrap or toasted sandwich option would be great Aside from those minor minor things fantastic spot and will be back when i return to Amsterdam ,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 4 nights ']",0 days,52.36057589999999,4.915968299999999,52.865196,52.865196,Netherlands,Amsterdam
2, s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,194,7/31/2017,7.7,Hotel Arena, Australia , Rooms are nice but for elderly a bit difficult as most rooms are two story with narrow steps So ask for single level Inside the rooms are very very basic just tea coffee and boiler and no bar empty fridge ,42,1403, Location was good and staff were ok It is cute hotel the breakfast range is nice Will go back ,21,9,7.1,"[' Leisure trip ', ' Family with young children ', ' Duplex Double Room ', ' Stayed 3 nights ', ' Submitted from a mobile device ']",3 days,52.36057589999999,4.915968299999999,-24.7761086,-24.7761086,Netherlands,Amsterdam
3, s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,194,7/31/2017,7.7,Hotel Arena, United Kingdom , My room was dirty and I was afraid to walk barefoot on the floor which looked as if it was not cleaned in weeks White furniture which looked nice in pictures was dirty too and the door looked like it was attacked by an angry dog My shower drain was clogged and the staff did not respond to my request to clean it On a day with heavy rainfall a pretty common occurrence in Amsterdam the roof in my room was leaking luckily not on the bed you could also see signs of earlier water damage I also saw insects running on the floor Overall the second floor of the property looked dirty and badly kept On top of all of this a repairman who came to fix something in a room next door at midnight was very noisy as were many of the guests I understand the challenges of running a hotel in an old building but this negligence is inconsistent with prices demanded by the hotel On the last night after I complained about water damage the night shift manager offered to move me to a different room but that offer came pretty late around midnight when I was already in bed and ready to sleep ,210,1403, Great location in nice surroundings the bar and restaurant are nice and have a lovely outdoor area The building also has quite some character ,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex Double Room ', ' Stayed 3 nights ']",3 days,52.36057589999999,4.915968299999999,55.367000000000004,55.367000000000004,Netherlands,Amsterdam
4, s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,194,7/24/2017,7.7,Hotel Arena, New Zealand , You When I booked with your company on line you showed me pictures of a room I thought I was getting and paying for and then when we arrived that s room was booked and the staff told me we could only book the villa suite theough them directly Which was completely false advertising After being there we realised that you have grouped lots of rooms on the photos together leaving me the consumer confused and extreamly disgruntled especially as its my my wife s 40th birthday present Please make your website more clear through pricing and photos as again I didn t really know what I was paying for and how much it had wnded up being Your photos told me I was getting something I wasn t Not happy and won t be using you again ,140,1403, Amazing location and building Romantic setting ,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' Stayed 2 nights ', ' Submitted from a mobile device ']",10 days,52.36057589999999,4.915968299999999,-41.5000831,-41.5000831,Netherlands,Amsterdam
5, s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,194,7/24/2017,7.7,Hotel Arena, Poland , Backyard of the hotel is total mess shouldn t happen in hotel with 4 stars ,17,1403, Good restaurant with modern design great chill out place Great park nearby the hotel and awesome main stairs ,20,1,6.7,"[' Leisure trip ', ' Group ', ' Duplex Double Room ', ' Stayed 1 night ']",10 days,52.36057589999999,4.915968299999999,52.215933,52.215933,Netherlands,Amsterdam
6, s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,194,7/17/2017,7.7,Hotel Arena, United Kingdom , Cleaner did not change our sheet and duvet everyday but just made bed They also didn t clean the floor and changed the body gel when we run out of it ,33,1403, The room is spacious and bright The hotel is located in a quiet and beautiful park ,18,6,4.6,"[' Leisure trip ', ' Group ', ' Duplex Twin Room ', ' Stayed 5 nights ', ' Submitted from a mobile device ']",17 days,52.36057589999999,4.915968299999999,55.367000000000004,55.367000000000004,Netherlands,Amsterdam
7, s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,194,7/17/2017,7.7,Hotel Arena, United Kingdom , Apart from the price for the brekfast Everything very good,11,1403, Good location Set in a lovely park friendly staff Food high quality We Oth enjoyed the breakfast ,19,1,10.0,"[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']",17 days,52.36057589999999,4.915968299999999,55.367000000000004,55.367000000000004,Netherlands,Amsterdam
8, s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,194,7/9/2017,7.7,Hotel Arena, Belgium , Even though the pictures show very clean rooms the actual room was quit dirty and outlived Also check in is at 15 o clock but our room was not ready at that time,34,1403,No Positive,0,3,6.5,"[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']",25 days,52.36057589999999,4.915968299999999,50.6402809,50.6402809,Netherlands,Amsterdam

In [13]:
print(pd.read_csv('Hotel_Reviews.csv').shape[0])
print(pd.read_csv('Hotel_Reviews_With_City.csv').shape[0])

515738
515738